<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <header th:insert="~{/common/header}">
<!--필기 header 불러오기 맨위에 표기됨 -->
    </header>
    <h1>Conditional 제어문</h1>
    <h2>th:if , th:unless</h2>
    <h3>
        th:if 변수 표현식의 OGNL을 활용한 조건식으로 조건문을 작성하면 결과가
        true 일 때 해당 태그 범위가 처리된다.
        th:unless 는 표현식의 OGNL 을 활용한 결과가 false 일 때
        해당 태그 범위가 처리된다.
    </h3>

    <p th:if="${num > 0}">넘어온 값은 0보다 큽니당</p>
    <p th:if="${num < 0}">넘어온 값은 0보다 작아유</p>
    <p th:unless="${num < 0}">넘어온 값은 0보다 크다</p>

    <!-- th:block 사용도 가능하다. -->
    <th:block th:if="${str == '사과'}">
        <p>나는 사과가 좋아요</p>
    </th:block>
    <th:block th:if="${str == '바나나'}">
        <p>나는 바나나가 좋아요</p>
    </th:block>

    <!-- and 나 or 를 사용해서 다중 조건 처리도 할 수 있다. -->
    <p th:if="${ num > 0 or num <= 10}">1부터 10까지의 양수</p>
    <p th:if="${ str != null and str == '바나나'}">바나나가 좋아유</p>
    <p th:if="${ !#strings.isEmpty(str) and str == '바나나'}">바나나 조아유</p>

    <h2>th:switch, th:case</h2>
    <h3>해당 조건의 값이 어떤 case 해당되는 지에 따라서 태그를 선택할 수 있다.</h3>
    <th:block th:switch="${str}">
        <span th:case="사과">사과가 선택되었습니다</span>
        <span th:case="바나나">바나나가 선택되었습니다.</span>
    </th:block>

    <h2>th:each</h2>
    <h3>
        th:each 를 통해 태그를 반복할 수 있다.
    </h3>
    <table border="1">
        <tr>
            <th>이름</th>
            <th>나이</th>
            <th>성별</th>
            <th>주소</th>
        </tr>
        <tr th:each="member : ${memberList}">
            <td th:text="${member.name}"></td>
            <td th:text="${member.age}"></td>
            <td th:text="${member.gender}"></td>
            <td th:text="${member.address}"></td>
        </tr>
    </table>

    <h3>th:each 에 stat 를 추가해서 반복 상태를 확인할 수 있다.</h3>
    <pre>
        index : 0부터 시작하는 인덱스 값
        count : 1부터 시작하는 값
        current : 현재 객체의 정보
        even : 짝수 번 째 데이터 여부
        odd : 홀수 번 째 데이터 여부
        first : 첫 번재 데이터 여부
        last : 마지막 데이터 여부
    </pre>

    <table border="1">
        <tr>
            <th>이름</th>
            <th>나이</th>
            <th>성별</th>
            <th>주소</th>
            <th>index</th>
            <th>count</th>
            <th>size</th>
            <th>current</th>
            <th>even</th>
            <th>odd</th>
            <th>first</th>
            <th>last</th>
        </tr>
        <tr th:each="member, stat : ${memberList}">
            <td th:text="${member.name}"></td>
            <td th:text="${member.age}"></td>
            <td th:text="${member.gender}"></td>
            <td th:text="${member.address}"></td>
            <td th:text="${stat.index}"></td>
            <td th:text="${stat.count}"></td>
            <td th:text="${stat.size}"></td>
            <td th:text="${stat.current}"></td>
            <td th:text="${stat.even}"></td>
            <td th:text="${stat.odd}"></td>
            <td th:text="${stat.first}"></td>
            <td th:text="${stat.last}"></td>
        </tr>
    </table>

    <!-- 필기. th:each stat 를 추가하지 않았다면, 변수명+Stat 으로 반복상태를 확인 가능하다. -->
    <table border="1">
        <tr>
            <th>이름</th>
            <th>나이</th>
            <th>성별</th>
            <th>주소</th>
            <th>index</th>
            <th>count</th>
            <th>size</th>
            <th>current</th>
            <th>even</th>
            <th>odd</th>
            <th>first</th>
            <th>last</th>
        </tr>
        <tr th:each="member : ${memberList}">
            <td th:text="${member.name}"></td>
            <td th:text="${member.age}"></td>
            <td th:text="${member.gender}"></td>
            <td th:text="${member.address}"></td>
            <td th:text="${memberStat.index}"></td>
            <td th:text="${memberStat.count}"></td>
            <td th:text="${memberStat.size}"></td>
            <td th:text="${memberStat.current}"></td>
            <td th:text="${memberStat.even}"></td>
            <td th:text="${memberStat.odd}"></td>
            <td th:text="${memberStat.first}"></td>
            <td th:text="${memberStat.last}"></td>
        </tr>
    </table>
</body>
</html>