<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>etc</title>
</head>
<body>
    <h1 style="text-align: center; color: burlywood">etc 기타 문법</h1>

    <h2>th:with</h2>
    <h3>지역 변수를 지정해서 사용을 할 수 있다.</h3>

    <th:block th:with="start = ${selectCriteria.startPage}, last = ${selectCriteria.endPage}">
        <th:block th:each="p : ${ #numbers.sequence(start, last) }">
            <th:block th:if="${selectCriteria.pageNo eq p}">
                <button th:text="${p}" disabled></button>
            </th:block>
            <th:block th:if="${selectCriteria.pageNo ne p}">
                <button th:text="${p}"></button>
            </th:block>
        </th:block>
    </th:block>

    <h2>SpringEL</h2>
    <h3>
        변수 표현식 ${...} 은 SpringEL 이라는 스프링에서 제공하는 표현식을 사용할 수 있다.
        단순한 변수가 아닌 Object, List, Map 같은 객체를 사용하기 위해 활용할 수 있다.
    </h3>
    <p>Object</p>
    <ul>
        <li th:text="${member.name}"></li>
        <li th:text="${member['age']}"></li>
        <li th:text="${member.getGender()}"></li>
        <!-- 필기. getter 를 사용하기 위해서는 해당 클래스에 반드시 getter 메소드가 있어야한다. -->
    </ul>

    <p>List</p>
    <ul>
        <li th:text="${ memberList[1].name}"></li>
        <li th:text="${ memberList[1]['age']}"></li>
        <li th:text="${ memberList[1].getGender()}"></li>
        <li th:text="${ memberList.get(1).getGender()}"></li>
    </ul>

    <p>Map</p>
    <ul>
        <li th:text="${memberMap['m01'].name}"></li>
        <li th:text="${memberMap['m02']['age']}"></li>
        <li th:text="${memberMap['m02'].getAddress()}"></li>
    </ul>

    <h2>security 인증 정보 여부</h2>
    <h3>타임리프에서 시큐리티 적용 시 로그인, 로그아웃에 대한 이벤트 줄 수 있다.</h3>
    <th:block sec:authorize="isAuthenticated()">로그인 함</th:block>
    <th:block sec:authorize="isAuthenticated() == false">로그인 하지 않음</th:block>
</body>
</html>